version = 1

[capsule]
image = 'dokken/ubuntu-24.04@sha256:d750578fc09822c72bb6435e69b4559410d53da5bcf6ea3ea91d252c114ae003'
user = "root"

[policy]
network = 'on'

[resources]
cpus = 2
memory_mb = 4096

[freeze]
publish = ''
platforms = []
mode = 'clean'
